h1 {
    font-size: 2.7em;
color: #333333;
}

.clicker_buttons__incrementer {
    background-image: url(../img/button.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 10em;
}